CSE445_assign1/CSE445_assign1_part1234/TestWCFServiceConsoleApp/Service References/myServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1781/WCFservice/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1781/WCFservice/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PiValue_InputMessage">
    <wsdl:part name="parameters" element="tns:PiValue" />
  </wsdl:message>
  <wsdl:message name="IService_PiValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:PiValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_absValue_InputMessage">
    <wsdl:part name="parameters" element="tns:absValue" />
  </wsdl:message>
  <wsdl:message name="IService_absValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:absValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_c2f_InputMessage">
    <wsdl:part name="parameters" element="tns:c2f" />
  </wsdl:message>
  <wsdl:message name="IService_c2f_OutputMessage">
    <wsdl:part name="parameters" element="tns:c2fResponse" />
  </wsdl:message>
  <wsdl:message name="IService_f2c_InputMessage">
    <wsdl:part name="parameters" element="tns:f2c" />
  </wsdl:message>
  <wsdl:message name="IService_f2c_OutputMessage">
    <wsdl:part name="parameters" element="tns:f2cResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PiValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PiValue" message="tns:IService_PiValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PiValueResponse" message="tns:IService_PiValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="absValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/absValue" message="tns:IService_absValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/absValueResponse" message="tns:IService_absValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="c2f">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/c2f" message="tns:IService_c2f_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/c2fResponse" message="tns:IService_c2f_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="f2c">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/f2c" message="tns:IService_f2c_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/f2cResponse" message="tns:IService_f2c_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PiValue">
      <soap:operation soapAction="http://tempuri.org/IService/PiValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="absValue">
      <soap:operation soapAction="http://tempuri.org/IService/absValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="c2f">
      <soap:operation soapAction="http://tempuri.org/IService/c2f" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="f2c">
      <soap:operation soapAction="http://tempuri.org/IService/f2c" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1781/WCFservice/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>